    h1{
    color: red;
    text-align: center;
    font-family: monospace;
    }

    p{
    color: green;
    font-family: monospace ;
    }
    .right{
      text-align: right;
      color:green;
    }


